@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --white-color: '#f1f1f1';
  --text-color: #212529;
  --primary-color-normal: #20c997;
  --primary-color-light: #63e6be;
  --primary-color-shadow: #0ca678;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
}
